$main_color: hsl(54, 100%, 50%);
$light_accent: hsl(0, 0%, 100%);
$accent_color: hsl(0, 0%, 0%);
$button_color: hsl(39, 100%, 50%);
$box_shadow: 0 0.4rem 0 0;
$border: 0.2rem solid;
$main_font: "Azeret Mono", sans-serif;
$header_font: "Dela Gothic One", sans-serif;
